<?xml version="1.0"?>
<robot name="wx200"
    xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="lollypop_mesh" value="package://arm_control/meshes/lollypop_hammer.stl"/>
    <!-- <xacro:property name="lollypop_mesh" value="$(find arm_mover)/meshes/lollypop_hammer.stl"/> -->


    <joint name="lollypop_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="$(arg robot_name)/fingers_link"/>
        <child link="lollypop_hammer"/>
    </joint>

    <link name="lollypop_hammer">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="0.001"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
        <visual name="">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="${lollypop_mesh}" scale="1.0 1.0 1.0"/>
            </geometry>
            <material name="">
                <color rgba="1.0 0.0 0.0 0.95"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="${lollypop_mesh}" scale="1.0 1.0 1.0"/>
            </geometry>
        </collision>
    </link>

</robot>
