[submodule "interbotics-ws/src/interbotix_ros_manipulators"]
	path = interbotics-ws/src/interbotix_ros_manipulators
	url = https://github.com/Interbotix/interbotix_ros_manipulators.git
[submodule "interbotics-ws/src/interbotix_ros_toolboxes"]
	path = interbotics-ws/src/interbotix_ros_toolboxes
	url = https://github.com/Interbotix/interbotix_ros_toolboxes.git
[submodule "interbotics-ws/src/interbotix_ros_core"]
	path = interbotics-ws/src/interbotix_ros_core
	url = https://github.com/Interbotix/interbotix_ros_core.git
[submodule "interbotics-ws/src/interbotix_xs_driver"]
	path = interbotics-ws/src/interbotix_xs_driver
	url = https://github.com/interbotix/interbotix_xs_driver
[submodule "interbotics-ws/src/interbotix_ros_rovers"]
	path = interbotics-ws/src/interbotix_ros_rovers
	url = https://github.com/interbotix/interbotix_ros_rovers
	branch = humble
[submodule "interbotics-ws/src/create3_sim"]
	path = interbotics-ws/src/create3_sim
	url = https://github.com/iRobotEducation/create3_sim
[submodule "create3_sim"]
	url = https://github.com/Gray-Stone/create3_sim.git
